doctype html
html(lang="en")
  head
    title= title
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Cache-Control" content="max-age=2592000")
    meta(name='theme-color' content='#11111b')

    link(rel='stylesheet' href='./css/main.css')
    link(rel='stylesheet' href='./fonts/fonts.min.css')
    
    <!--[if IE]-->
      <!-- link(rel='shortcut icon' href='./images/logo/Civics.ico') -->
    <!--<![endif]-->
    
    link(rel='icon' href='./images/logo/Civics.png' sizes='57x57' type='image/png')
    link(rel='icon' href='./images/logo/Civics.svg' sizes='any' type='image/svg+xml')
    link(rel='shortcut icon' href='./images/logo/Civics.png' type='image/x-icon')
    link(rel='icon' href='./images/logo/Civics.png' sizes='16x16' type='image/png')

    each style in css
      link(rel='stylesheet' href=style)
  body
    include ../components/header.pug
    main.main
      block content
    include ../components/footer.pug
      
  script(src='./js/rye.min.js')
  script(src='./js/main.js')
  script.
    var navigator = window.navigator;
    if ('serviceWorker' in navigator) {
      window.addEventListener("load", function () {
        navigator.serviceWorker.register('/sw.min.js')
            .then(function(registry) {
                // Registration was successful
                console.log('[Service Worker] registration successful with scope: ', registry.scope);
                if (registry.installing) {
                    console.log('[Service Worker] installing');
                }
                else if (registry.waiting) {
                    console.log('[Service Worker] installed');
                }
                else if (registry.active) {
                    console.log('[Service Worker] active');
                }
            })
            .catch(function(err) {
                // Registration failed :(
                console.error('[Service Worker] registration failed: ', err);
            });
      })
    } else {
        console.log("No Service Worker's or App Cache Support")
    }
  each scripts in js
    script(src=scripts)
