doctype html
html(lang="en")
  head
    title= title
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Cache-Control" content="max-age=1 day")
    meta(name='theme-color' content='#11111b')

    link(rel='stylesheet' async href='./css/pace.min.css')
    link(rel='stylesheet' async href='./css/main.css')
    link(rel='stylesheet' async href='./assets/fonts/fonts.css')
    
    <!--[if IE]-->
      <!-- link(rel='shortcut icon' href='./assets/images/logo/Civics.ico') -->
    <!--<![endif]-->
    
    link(rel='icon' href='./assets/images/logo/Civics.png' sizes='57x57' type='image/png')
    link(rel='icon' href='./assets/images/logo/Civics.svg' sizes='any' type='image/svg+xml')
    link(rel='shortcut icon' href='./assets/images/logo/Civics.png' type='image/x-icon')
    link(rel='icon' href='./assets/images/logo/Civics.png' sizes='16x16' type='image/png')

    each style in css
      link(rel='stylesheet' href=style)
  body
    include ../components/header.pug
    main.main
      block content
    include ../components/footer.pug
      
  script(src='./js/pace.min.js')
  script(src='./js/rye.min.js')
  script(src='./js/main.js')
  each scripts in js
    script(src=scripts)
