doctype html
html(lang="en")
  head
    title= title
    
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='theme-color' content='#11111b')

    link(rel='stylesheet' href='./css/pace.min.css')
    link(rel='stylesheet' href='./css/main.css')
    
    //if IE
      link(rel='shortcut icon' href='path/to/favicon.ico')
    
    link(rel='icon' href='./assets/images/logo/Civics.png' sizes='57x57' type='image/png')
    link(rel='icon' href='./assets/images/logo/Civics.svg' sizes='any' type='image/svg+xml')
    link(rel='shortcut icon' href='./assets/images/logo/Civics.png' type='image/x-icon')
    link(rel='icon' href='./assets/images/logo/Civics.png' sizes='16x16' type='image/png')

    each style in css
      link(rel='stylesheet' href=style)
  body
    include ../components/header.pug
    main.main
      section.fadeOut
        block content
    include ../components/footer.pug
  script(src='./js/pace.min.js')
  script(src='./js/rye.min.js')
  script(src='./js/main.js')
  each scripts in js
    script(src=scripts)
